.header {
  height: 50px;
}

main {
  position: relative;
}

.section1 img {
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  margin-bottom: 95px;
  z-index: 8
}

.section2 img {
  width: 100%;
  background-repeat: no-repeat;
  top: -300px;
  */ width: 1107px;
  position: relative;
  background-size: contain;
}
