.header {
  height: 25px;
}

 /*main img {
  margin-top: 200px;
}*/

.section1 {
  height: 100px;
  margin-top: 100px;

style="top: -173px; left: 0px; width: 1440px; height: 957px; position: relative;"
}
