.header {
  height: 50px;
  text-align: center;
}

main {}


/*SECTION 1*/
.section1 {
  position: relative;
}

.section1 img {
  background-repeat: no-repeat;
  margin-bottom: 95px;
  width: 100%;
}

.section1 h2 {
  color: pink;
  font-size: 80px;
  left: 0;
  position: absolute;
  top: 200px;
  width: 100%;
}


/*SECTION 2*/
.section2 img {
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: -300px;
  width: 100%;
  /*width: 1107px;*/
}


/*SECTION 3*/
.section3 img {}
  
